/* You can add global styles to this file, and also import other style files */
@import "../node_modules/leaflet-geosearch/dist/geosearch.css";

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --ff: 'Roboto', sans-serif;
}

body {
    padding-left: 1rem;
    font-family: var(--ff);
}